.CircularSlider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 10%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

@keyframes knobActive {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes knobInactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}


@keyframes knobDragging {
  0% {
    scale: 1.25;
  }
  100% {
    scale: 1.5;
  }
}

@keyframes knobDraggingEnd {
  0% {
    scale: 1.5;
  }
  100% {
    scale: 1.25;
  }
}

@keyframes knobDraggingEndNoHover {
  0% {
    scale: 1.5;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 0.25;
  }

}

.knob-dragging {
  animation: knobDragging 0.3s forwards;
}

.knob-dragging-end {
  animation: knobDraggingEnd 0.3s forwards;
}

.knob-dragging-end-no-hover {
  animation: knobDraggingEndNoHover 0.3s forwards;
}

.knob-active {
  animation: knobActive 0.3s forwards;
}

.knob-inactive {
  animation: knobInactive 0.3s forwards;
}

.knob {
  opacity: 0.25;
}