body {
  margin: 0;
  padding: 0;
  font-family: 'Shantell Sans', sans-serif;
  overflow: hidden;
}

:root {
  --primary-color: #ffcc00;
  --secondary-color: #f0f0f0;
}

.container {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.grid {
  width: 500%;
  height: 500%;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px),
                    linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);
  animation: scrollGrid 20s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes scrollGrid {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1000px, -1000px);
  }
}

.protanopia {
  filter: url(#protanopiaColourMatrix)
}

.protanomaly {
  filter: url(#protanomalyColourMatrix)
}

.deuteranopia {
  filter: url(#deuteranopiaColourMatrix)
}

.deuteranomaly {
  filter: url(#deuteranomalyColourMatrix)
}

.tritanopia {
  filter: url(#tritanopiaColourMatrix)
}

.tritanomaly {
  filter: url(#tritanomalyColourMatrix)
}

.achromatopsia {
  filter: url(#achromatopsiaColourMatrix)
}

.achromatomaly {
  filter: url(#achromatomalyColourMatrix)
}
